services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=task_api
      - JWT_SECRET=change_this_in_prod
    depends_on:
      - mongo

volumes:
  mongo_data:
